<%= form_with(model: auther) do |form| %>
  <% if auther.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(auther.errors.count, "error") %> prohibited this auther from being saved:</h2>

      <ul>
        <% auther.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
